.image {
  min-height: 250px;
  width: 150px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.header {
  color: white;
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: grey;
  font-size: large;
}