body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f5f5dc;
  text-align: center;
  padding: 20px;
  margin: 0;
}

h1 {
  color: #8b4513;
  font-style: italic;
}

p {
  font-size: 18px;
}

canvas {
  border: 4px solid #8b4513;
  border-radius: 20px;
  background-color: #f5f5dc;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: #f5f5dc;
  border: 2px solid #8b4513;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  animation: popup-animation 0.3s ease-out forwards;
}

@keyframes popup-animation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popup h2 {
  color: #8b4513;
  font-size: 24px;
  margin-bottom: 10px;
}

.popup p {
  margin-bottom: 20px;
}

.popup button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 20px;
  background-color: #8b4513;
  color: beige;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #693f23;
}