body {
  margin: auto;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, #3e2723, #795548);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

aside {
  float: left;
  background: linear-gradient(to left, #3e2723, #795548);
  height: 91.2vh;
  width: auto;
  color: white;
  padding: 20px;
}

ul li {
  margin-bottom: 20px;
  transition: 0.3s with ease;
}

div {
  margin: 10px;
}

section {
  display: flex;
  padding: 50px;
  background: linear-gradient(to bottom right, #bcaaa4, #8d6e63);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  width: auto;
}

img {
  width: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
  box-sizing: border-box;
}

img:hover {
  transform: scale(1.05);
}

.yellow {
  background: linear-gradient(to bottom, #b67e24, #ff7802);
  border: 5px solid black;
  color: white;
}

.blue {
  background: linear-gradient(to bottom, #1976d2, #0d47a1);
  border: 5px solid black;
  color: white;
}

.red {
  background: linear-gradient(to bottom, #d32f2f, #b71c1c);
  border: 5px solid black;
  color: white;
}

.yellow,
.blue,
.red {
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  text-align: justify;
  transform: translateY(-5px);
}